<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to the Quiz</h1>
  <p class="col-md-8 fs-4">The test will contain a total of 5 questions. Each Question scores 1 mark.</p>
  <h4>Instructions:</h4>
  <ul>
    <li>Correct answer gives you 1 mark.</li>
    <li>Incorrect answer gives to -1 mark.</li>
    <li>There will be 60 sec to answer each question.</li>
    <li>Any page referesh will reset the answers.</li>
  </ul>
  <h1 style="font-family: 'Sacramento',cursive ;text-align:center;" >Best of luck for the quiz !!</h1>

  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-8">
      <input #name type="text" class="form-control" placeholder="Please enter your name here " >
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-lg" routerLink="/quiz" (click)="startTests()">Start Quiz</button>
  </div>
</div>
